:root {
    --body-background-color: #23272f;
    --body-color: #ffffff;

    --button-background-color: #5c5b5b;
    --button-color: #ffffff;
    --button-hover-bgcolor: hsl(0, 0%, 62%)
    --button-active-bgcolor: hsl(0, 0%, 96%);
}